/* Hover effects on social media icons*/
#icon, #discord, #twitter, #youtube, #spotify {
    transition: transform 420ms ease;
}

#icon:hover, #discord:hover, #twitter:hover, #youtube:hover, #spotify:hover {
    transform: scale(1.15);
  }

#discord:hover {color: #5865F2}
#twitter:hover {color: #1DA1F2}
#youtube:hover {color: #FF0000}
#spotify:hover {color: #1DB954}

/* Underline Animation */
.post-content a,
.post-description a {
  position: relative;
  text-decoration: none;
  box-shadow: none;
}

.post-content a::before,
.post-description a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--content);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* For the Projects Page*/
.post-content dt ~ dt, .post-content dd ~ dd {
    margin-top: 1.5rem;
  }
  .post-content dt em {
    display: block;
    text-align: left;
  
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
  
    color: var(--secondary);
  }

::selection {
    color: #444452;
    background: #ffdc00;
}